@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

input,
select {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.section {
  min-height: 80vh;
  color: #212724;
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-1 {
  border-radius: 20px;
  padding: 30px;
  border: solid 2px black;
  background-color: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.09);
}

body{
    background-color: black;
}
.booking-1 h1 {
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.booking-1 form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.person,
.date-1,
.time-1,
.slot-1 {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.person > label,
.date-1 > label,
.time-1 > label,
.slot-1 > label {
  flex: 1;
  flex-basis: 150px;
  padding: 10px 20px;
}

.person > input,
.date-1 > input,
.time-1 > select,
.slot-1 > select {
  flex: 1;
  flex-basis: 160px;
}

.one_input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.one_input > * {
  flex: 1;
}

.book-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 255, 0.728);
  cursor: pointer;
  font-weight: 600;
}

.error-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#err{
  position: absolute;
  top: 30px;
  font-size: 20px;
}
